:root {
  --background: #2b2b2b;
  --background-secondry: #3b3b3b;
  --lbl-text: #858584;
  --text: #ffffff;
  --btn-bg: #a259ff;
  --blue-accent: #377df7;
  --red-accent: #ff7262;
  --grdient-1: linear-gradient(100.92deg, #a259ff 13.57%, #ff6250 97.65%);
  --grdient-2: linear-gradient(128.15deg, #a259ff 49.75%, #377df7 136.56%);

  --h1-size: 6.7rem;
  --h2-size: 5.1rem;
  --h3-size: 3.8rem;
  --h4-size: 2.8rem;
  --h5-size: 2.2rem;
  --h6-size: 6.7rem;
  --base-size: 1.6rem;
  --caption-size: 1.2rem;

  --btn-primary: 7.2rem;
  --btn-secondry: 6rem;
  --btn-tetiary: 4.6rem;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: var(--base-size);
  background-color: var(--background);
  color: var(--text);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

/* button */

.btn {
  all: unset;

  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  padding: 0 5rem;
  max-width: 100%;
}

.btn-secondry {
  height: var(--btn-primary);
  background-color: var(--btn-bg);
}

.btn-outline {
  border: 2px solid var(--btn-bg);
  height: 6rem;
  color: var(--btn-bg);
}

/* Hesader Logo */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  position: relative;
}

.header-logo,
.footer-logo {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.header-logo__icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* Header Menu */
.header-menu {
}

.menu-icon {
  display: grid;
  place-items: center;
}

.menu-list {
  width: 30rem;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-secondry);
  padding: 2rem;
  border-top-right-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  display: none;
}

.menu-item {
  padding: 1.7rem;
  border-radius: 1.1rem;
  transition: all 0.3s;
}

.menu-item:hover {
  background-color: var(--btn-bg);
}

.menu__link {
}

main,
.container {
  width: 100%;
  padding: 3.5rem 4rem;
  overflow-x: hidden;
}

/* HERO SECTION */
.hero-section {
  max-width: 105rem;
  margin-right: auto;
  margin-left: auto;
}

.hero-section,
.info__wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
}

.hero-section--info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  order: -2;
}

.hero-section__title {
  font-size: var(--h4-size);
  line-height: 1.5;
  font-weight: 600;
}

.hero-section__dis {
  line-height: 1.6;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}

.hero-section--card {
  background-color: var(--background-secondry);
  border-radius: 2rem;
  overflow: hidden;
  order: -1;
}

.card-img {
  width: 100%;
  height: 22rem;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-caption {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-caption__title {
  font-size: var(--h5-size);
  font-weight: 600;
}

.card-profile {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.card-profile p {
  font-weight: 400;
}

.card-profile--img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.card-profile--img img {
  width: 100%;
  height: 100%;
}

.hero-section--btn {
  display: block;
}

.hero-section--count {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-section--col {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.count__title {
  font-size: var(--h5-size);
  font-family: "Space Mono", monospace;
}

.count__info {
  font-weight: 400;
}

.hero-section---start {
}

/* ========== Trending ================ */

.tranding,
.top-chart {
  margin-top: 4rem;
  padding: 8rem 0 4rem 0;
}

.tranding-header,
.top-chart-header {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.trending__title,
.top-chart__title {
  font-size: var(--h4-size);
  font-weight: 600;
}

.trending__dis,
.top-chart__dis {
  font-size: var(--base-size);
  font-weight: 400;
}

.trending-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  column-gap: 3.3rem;
  row-gap: 2rem;
}

.trending-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 6rem;
}

.trending-box--img {
  width: 100%;
  height: auto;
  max-height: 45rem;
  overflow: hidden;
  border-radius: 2rem;
}

.trending-box--img img,
.trending-box__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trending-box--items {
  margin-top: 1.1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.trending-box__item {
  width: 100%;
  overflow: hidden;
  border-radius: 2rem;
}

.trending-box--items--txt {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-bg);
}

.trending-box--items--txt p {
  font-family: "Space Mono", monospace;
  font-weight: bold;
  font-size: 1.8rem;
}

/* Top creator */
.header-row {
  display: flex;

  justify-content: space-between;
}

.top-chart-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2.5rem;

  height: 60rem;
  overflow: hidden;
}

.top-chart-header {
  margin-bottom: 4rem;
}

.top-crator__box {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  background-color: var(--background-secondry);
  border-radius: 2rem;
}

.top-crator--img {
  width: 6rem;
  height: 6rem;
  position: relative;
}

.top-crator__img {
  width: 100%;
  height: 100%;
}

.badge {
  position: absolute;
  top: 7px;
  left: 10px;
  transform: translate(-50%, -50%);
  color: var(--lbl-text);
  background-color: var(--background);
  font-size: 1.6rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.top-crator--info {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.top-crator__title {
  font-size: var(--h5-size);
}

.top-crator--row {
  display: flex;
  align-items: center;
}

.top-crator__sub {
  color: var(--lbl-text);
  font-size: var(--base-size);
  font-weight: 400;
  white-space: nowrap;
}

.top-crator__price {
  margin-left: 1rem;
  font-family: Space Mono;
  font-weight: 400;
  white-space: nowrap;
  font-size: var(--base-size);
}

.btn-header {
  display: none;
}

.btn-body {
  display: flex;
  margin-top: 4.5rem;
}

/* Category */
.category {
  margin-top: 3rem;
}

.category-body {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-auto-rows: 33rem;
  column-gap: 3rem;
  row-gap: 4rem;
}

.category--box {
  width: 100%;
  background-color: var(--background-secondry);
  border-radius: 4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.categroy--img {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
  width: 100%;
  height: 75%;
}

.category__img {
  background: rgba(255, 255, 255, 0.1);
  filter: blur(7.5px);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.category__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-info {
  padding: 3rem 3rem 3.5rem 3rem;
}

.category__title {
  font-size: var(--h5-size);
  font-weight: 600;
}

/* Discover */
.discovery-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 3.3rem;
  row-gap: 3.5rem;
  justify-content: center;
}

.discover--img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.discover__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discover-dis {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  padding: 3rem 3rem 3.5rem 3rem;
  flex-basis: 47%;
}

.discover-info--1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-img {
  width: 3rem;
  height: 3rem;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__user {
  font-family: "Space Mono";
  font-weight: 400;
  font-size: var(--base-size);
}

.discover-info--2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.6rem;
}

.sub-info-1 {
  align-items: flex-start;
}

.sub-info-2 {
  align-items: flex-end;
}

.discovre__sub {
  font-family: "Space Mono";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: var(--lbl-text);
}

.discover__price {
  font-family: "Space Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

/* Timer Bg */
.timer-bg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin-top: 3rem;
  background-image: url("../assets/images/NFT Highlight.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
  margin-bottom: -7rem;
}

.timer-overlay {
  display: flex;
  padding: 120px 185px 40px 185px;
  flex-direction: column;

  background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
  gap: 3rem;
}

.artist-card {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: var(--background-secondry);
  width: max-content;
}

.artist-name {
  font-weight: 400;
  font-size: var(--base-size);
}

.timer-info {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.timer-info__title {
  font-size: var(--h3-size);
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.timer {
  display: flex;
  width: 35rem;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.5);
  backdrop-filter: blur(5px);
}

.timer__title {
  font-family: "Space Mono";
  font-size: 14px;

  font-weight: 400;
}

.timer-row {
  display: flex;

  justify-content: space-between;
  width: 100%;
}

.timer-count {
}

.timer__num {
  font-family: "Space Mono";
  font-size: var(--h3-size);
}

.timer__sub {
  font-family: "Space Mono";
  font-size: 13px;
  font-weight: 400;
}

.timer__dot {
  font-family: "Space Mono";
  font-size: var(--h4-size);
  font-weight: 700;
  height: max-content;
  margin-top: 0.6rem;
}

.btn-white {
  background-color: #fff;
  margin-top: 1rem;
}

.btn-timer-sm {
  display: flex;
}

.btn-timer {
  display: none;
}

/* Guid */
.guid-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.guid--box {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;

  gap: 1.5rem;
  background-color: var(--background-secondry);
  border-radius: 2rem;
}

.guid--img {
  width: 10rem;
  height: 10rem;
}

.guid__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.guid-info {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.guid__title {
  font-size: var(--base-size);
  font-weight: 600;
}

.guid__dis {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 140%;
  /* 16.8px */
}

/* subscribe */
.subscribe {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.subscribe-img {
  width: 100%;
}
.subscribe-img__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.subscribe-info,
.footer-info {
  padding: 0 1rem;
  margin: 2.5rem 0;
}
.subscribe__title,
.footer-info__title {
  font-size: var(--h4-size);
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.45;
  margin-bottom: 0.8rem;
}
.subscribe__dis,
.footer-info__dis {
  font-size: var(--base-size);
  font-weight: 400;
  line-height: 1.5;
  color: #ccc;
}
.subscribe-input,
.footer-input {
  padding: 1.9rem 2.2rem;
  background-color: #fff;
  border-radius: 2.3rem;
  -webkit-border-radius: 2.3rem;
  -moz-border-radius: 2.3rem;
  -ms-border-radius: 2.3rem;
  -o-border-radius: 2.3rem;
  margin-top: 4.5rem;
  margin-bottom: 2rem;
}
.subscribe-input__input,
.footer-input__input {
  all: unset;
  font: inherit;
  width: 100%;
}
.subscribe-input__input::placeholder,
.footer-input__input {
  font-weight: 400;
  color: var(--background);
}
.subscribe-btn,
.footer-btn {
  display: flex;
  width: 100%;
}
.subscribe-btn button,
.footer-btn button {
  height: 6rem;
}
.btn-sm {
  height: 5.5rem;
  width: 100%;
  max-width: 100%;
}

/* ------Footer ------- */
.footer {
  margin-top: 4rem;
  background: var(--background-secondry);

  padding: 4rem 1.7rem 2rem 1.7rem;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr;
}
.footer-logo {
  margin-left: 2.1rem;
}
.footer__dis,
.social__dis {
  margin: 2rem;
  font-weight: 400;
  line-height: 1.6;
  color: #ccc;
  font-size: var(--base-size);
}
.footer-logo__icon {
  width: 3.5rem;
  height: 3.5rem;
}
.community {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;

  gap: 1.7rem;
}
.social__dis {
  margin: 0;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer-menu {
  padding: 3rem 2rem;
}
.footer-menu__title {
  font-size: var(--h5-size);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 2.3rem;
}
.footer-menu--list {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}
.footer-menu__item {
  font-weight: 400;

  color: #ccc;
  font-size: var(--base-size);
}
.footer-action {
  margin-top: -1rem;
}
.copy-right {
  margin: 1.5rem 1.5rem;
  padding: 2.4rem 1rem;
  border-top: 1px solid #858584;
}
.copy-right__txt {
  font-size: 12px;
  color: #ccc;
  font-weight: 400;
}

/* ------- Login --------------- */
.login-container {
  display: flex;
  flex-direction: column;
}
.login-img {
  width: 100%;
  height: 32rem;
}
.login-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.form-container {
  flex: 4;
}
.login-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
}
.login-title__title {
  font-size: var(--h3-size);
  font-weight: 600;
}
.login-title__subtitle {
  font-size: var(--base-size);
  font-weight: 400;
  color: #fff;
  line-height: 1.7;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.9rem;
}

.form-control {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1.6rem 2rem;
  gap: 1.3rem;

  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}
.form-control__icon {
  display: grid;
  place-items: center;
  color: #bdbdbd;
}
.form-control__input {
  all: unset;
  color: var(--background);
  font-size: var(--base-size);
  font-weight: 400;
}
.form-btn {
  width: 100%;
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
}

/* ---- artist ----- */
.artist-container {
  position: relative;
}
.artist-img {
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(151, 71, 255, 0) 21.88%,
      #9747ff 95.31%
    ),
    url("../assets/images/artist-cover.png"), lightgray 50%;
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;
}
.artist-img img,
.artist-profile--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.artist-profile--img {
  width: 12rem;
  height: 12rem;
  align-self: self-end;
  border: 2px solid var(--background);
  margin-bottom: -5rem;
  overflow: hidden;

  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.artist-profile--info {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 3.7rem;
}
.artist-profile__title {
  font-size: var(--h4-size);
  font-weight: 600;
  text-transform: capitalize;
}
.artist-profile--btns {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  margin-top: 3.5rem;
}
.txt-btn-white {
  color: #fff;
}
.artist-section--count {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}
.artist-bio,
.artist-link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bio,
.link {
  font-family: "Space Mono", sans-serif;
  color: #858584;
  font-weight: 400;
}
.bio-dis,
.link-dis {
  font-size: var(--base-size);
  font-weight: 400;
  color: #fff;
}
.artist-community {
  padding: 0;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 3rem 0 0 0;
  border: 1px solid var(--background-secondry);
  padding: 1rem 0 0 0;
}
.tab-item {
  all: unset;
  padding: 0 1rem;
  height: 6rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #858584;
}
.tab-item.active {
  color: #fff;
  border-bottom: 2px solid #ccc;
}
.content-card {
  background-color: var(--background-secondry);
  height: 100%;
  padding: 8rem 2rem;
}
.content-card--2 {
  background-color: var(--background);
}
.content-card--2 .discover--img {
  height: 29.5rem;
}
.footer-artist {
  margin-top: 0.3rem;
}
.badge-tab {
  display: none;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--background-secondry);
  font-size: 1.2rem;
  font-family: "Space Mono", monospace;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.tab-item.active .badge-tab {
  background-color: #858584;
}
/* browse-market */
.browse-market__title {
  font-size: var(--h4-size);
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.browse-market__dis {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
.browse-search {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  padding: 1.2rem 2rem;
  border: 1px solid var(--background-secondry);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.browse-icon {
}
.browse-search__input {
  all: unset;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
}
.browse-search__input::placeholder {
  color: var(--lbl-text);
}
.browse-container .top-bar {
  margin: 1rem 0 0 0;
}
/* ranking */
.ranking-main {
  padding-bottom: 2rem;
}
.ranking-top-bar {
  border: none;
}
.table-box {
  padding: 4rem 2.5rem;
}
.tbl-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.8rem 2.7rem;
  border: 1px solid var(--background-secondry);
  border-radius: 2.2rem;
  -webkit-border-radius: 2.2rem;
  -moz-border-radius: 2.2rem;
  -ms-border-radius: 2.2rem;
  -o-border-radius: 2.2rem;
}
.tbl-header--row {
  display: flex;

  align-items: center;
  gap: 1.8rem;
}
.tbl-header--row--left {
  flex: 2;
}
.tbl-header--row--right {
  flex: 1;
}

.tbl-header--row p {
  text-align: left;
  color: var(--lbl-text);
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  font-weight: 400;
}
.tbl-body {
}
.tbl-body--item {
  margin-top: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.3rem 2.7rem;
  background-color: var(--background-secondry);
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}
.tbl-body--item-left {
  display: flex;
  align-items: center;
  gap: 2.2rem;
}
.item-left__num {
  color: var(--lbl-text);
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  font-weight: 400;
}
.item-left--row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.item-left--img {
  width: 4rem;
  height: 4rem;
}
.item-left--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.item-left__author {
  font-weight: 400;
}
.tbl-body--item-right {
  display: flex;
  align-items: center;
}
.item-right__price,
.item-right__present,
.item-right__sold {
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  font-weight: 400;
}
.item-right__present {
  color: #00ac4f;
}
.tbl-item-right--md,
.tbl-item-right--lg {
  display: none;
}

.tab-item--md{
  display: none;
}
@media screen and (min-width: 650px) {
  .guid--box {
    width: 100%;
    padding: 10px 30px 55px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    text-align: center;
    align-self: stretch;
  }

  .guid-body {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
    margin: 1rem auto;
    gap: 4.5rem;
  }
  .guid--img {
    width: 20rem;
    height: 20rem;
  }
  .guid__title {
    font-size: var(--h5-size);
  }

  .guid__dis {
    font-size: 1.5rem;
    font-weight: 400;
    /* 16.8px */
  }
  .subscribe {
    flex-direction: row;
    gap: 3rem;
    margin: 4rem 2rem;
    background-color: var(--background-secondry);
    padding: 4rem 3rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
  }
  .subscribe-img {
    min-width: 22rem;
  }
}

@media screen and (min-width: 672px) {
  .top-chart-body {
    height: 35rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 5rem;
  }

  .hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: max-content;
    column-gap: 4rem;
  }

  .hero-section--info {
    grid-column: 1/2;
    width: 33rem;
  }

  .hero-section__title {
    font-size: var(--h3-size);
  }

  .hero-section--card {
    grid-column: 2/3;
    grid-row: auto;
    width: 100%;
    max-width: 51rem;
  }

  .hero-section---start,
  .hero-section--count {
    grid-column: 1/2;
    /* margin-top: -7rem; */
  }

  .hero-section---start {
    margin-top: -15rem;
    width: 14rem;
  }

  .hero-section--count {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: -10rem;
  }

  .card-img {
    height: 27rem;
  }

  .timer-overlay {
    display: flex;
    padding: 360px 195px 60px 195px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    align-self: stretch;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #a259ff 100%);
    gap: 8rem;
  }

  .btn-timer-sm {
    display: none;
  }

  .btn-timer {
    display: flex;
  }
  .subscribe-img {
    min-width: 30rem;
  }

  /* footer */
  .footer-info {
    padding: 0 2rem;
    flex: 1;
  }
  .footer--action {
    display: flex;
    align-items: baseline;
    max-width: 42rem;
  }
  .footer-input {
    flex: 1;
  }
  .footer-btn {
    flex: 1;
    margin-left: -3rem;
    max-width: 17rem;
  }
}

@media screen and (min-width: 834px) {
  .btn-body {
    display: none;
  }

  .btn-header {
    display: flex;
  }
  .subscribe-img {
    min-width: 40rem;
  }
  .footer-container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
  .footer-menu {
    padding: 0;
  }
  /* login */
  .login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 2rem;
    margin-top: -1rem;
  }
  .login-img {
    width: 45%;
    align-self: stretch;
    height: initial;
  }
  .form-container {
    width: 55%;
  }
  .footer-login {
    margin-top: 0;
  }
  .form-control,
  .form-btn {
    max-width: 45rem;
  }

  /* artist */
  .artist-profile__title {
    font-size: var(--h3-size);
  }
  .artist-img {
    height: 32rem;
    justify-content: start;
    padding-left: 6rem;
    margin-bottom: 2rem;
  }
  .artist-profile--img {
  }
  .artist-profile--info {
    padding: 2.5rem 2.2rem 0 2.2rem;

    gap: 4.2rem;
    width: 100%;
  }
  .artist-profile--btns {
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 3.5rem;
  }
  .btn-outline--2 {
    height: var(--btn-primary);
  }
  .artist-section--count {
    padding-left: 0.5rem;
    margin: 1rem 0;
    max-width: 47rem;

    justify-content: space-between;
  }
  .top-bar {
    gap: 3rem;
  }

  .tab-item {
    padding: 0 3rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }
  .badge-tab {
    display: flex;
  }
  .content-card {
    padding: 8rem 5rem;
  }
  /* browse-market */
  .browse-market__title {
    font-size: var(--h3-size);
  }
  .browse-market__dis {
  }

  /* ranking */
  .tab-item--sm{
    display: none;
  }
  .tab-item--md{
    display: block;
  }
  .ranking-container {
    width: 95%;
    margin: 0 auto;
  }
  .tbl-header--row--right {
    flex: unset;
    justify-content: space-evenly;
    width: 40%;
  }
  .tbl-body--item-right {
    justify-content: space-evenly;
    width: 40%;
  }
  .tbl-item-right--md {
    display: block;
  }
}

@media screen and (min-width: 980px) {
  main {
    padding: 7rem;
  }

  .hero-section--info {
    width: 51rem;
  }

  .hero-section__title {
    font-size: var(--h1-size);

    line-height: 1.2;
  }

  .hero-section__dis {
    font-size: 2.2rem;
    font-weight: 300;
  }

  .break {
    display: block;
  }

  .card-img {
    height: 35rem;
    max-height: 40rem;
  }

  .hero-section---start {
    margin-top: -10rem;
    width: 20rem;
  }

  .hero-section--count {
    margin-top: -1rem;
  }

  .count__title {
    font-size: var(--h4-size);
  }

  .count__info {
    font-size: 2.1rem;
    font-weight: 300;
  }
  .footer-container {
    grid-template-columns: 25rem 17rem 1fr;
    justify-content: space-evenly;
    align-content: center;
    gap: 6rem;
    padding: inherit 3rem;

    margin: 0 auto;
  }
  .footer-info {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .menu-icon {
    display: none;
  }
  .menu-list {
    width: 100%;
    height: unset;
    position: static;

    background-color: transparent;
    padding: 0 2rem;
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .menu-item {
    padding: 1.7rem;
    border-radius: unset;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-border-radius: unset;
    -moz-border-radius: unset;
    -ms-border-radius: unset;
    -o-border-radius: unset;
  }
  .menu-item .menu__link {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
  }
  .menu-item:hover {
    background-color: transparent;
  }
  .menu-item .menu__link:hover {
    color: var(--btn-bg);
  }
  .menu-item .btn-secondry {
    padding: 0 3rem;
    height: 6rem;
  }

  .top-chart-body {
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    max-width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .top-crator__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
  }

  .top-crator--img {
    width: 11rem;
    height: 11rem;
  }

  .badge {
    position: absolute;
    top: 14px;
    left: -32px;
  }
  .subscribe {
    max-width: 1050px;

    gap: 5rem;
    margin: 4rem auto;
    background-color: var(--background-secondry);
    padding: 6rem;
  }
  .subscribe-info {
    padding: 0 2rem;
    flex: 1;
  }
  .subscribe-img {
    flex: 1;
  }
  .subscribe--action {
    display: flex;
    align-items: baseline;
    max-width: 42rem;
  }
  .subscribe-input {
    flex: 1;
  }
  .subscribe-btn {
    flex: 1;
    margin-left: -3rem;
    max-width: 17rem;
  }
  .subscribe__title {
    font-size: var(--h3-size);
    font-weight: 600;
  }

  .footer-container {
    grid-template-columns: 32rem 25rem 1fr;
    justify-content: space-evenly;
    align-content: center;
    gap: 6rem;
    padding: inherit 3rem;
    /* width: 95%; */

    margin: 0 auto;
  }
  .login-container {
    margin-top: -3rem;
  }
  .login-title__title {
    font-size: var(--h2-size);
    font-weight: 600;
  }
  .login-title__subtitle {
    font-size: 2.2rem;
  }

  /* artist */
  .artist-profile__title {
    width: 100%;
    display: block;
    font-size: var(--h2-size);
  }
  .row-profile {
    width: 100%;
    display: flex;
    align-items: baseline;

    justify-content: space-between;
  }
  .artist-profile--btns {
    width: 100%;
    justify-content: flex-end;
  }
  .btn-secondry--3,
  .btn-outline--2 {
    height: 6rem;
  }
  .tab-item {
    padding: 0 6rem;
    font-size: var(--h5-size);
    font-weight: 600;
    gap: 2.5rem;
  }
  /* browse-market */
  .browse-main {
    width: 100%;
    max-width: 125rem;
    margin: 0 auto;
  }
  .browse-market__title {
    font-size: var(--h2-size);
  }
  /* rankin */
  .tbl-header--row--right {
    flex: unset;
    justify-content: space-evenly;
    width: 60%;
  }
  .tbl-body--item-right {
    justify-content: space-evenly;
    width: 60%;
  }
  .tbl-item-right--lg {
    display: block;
  }
  .item-left--img {
    width: 6rem;
    height: 6rem;
  }
  .item-left__num {
    width: 3rem;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--background);
  }
}

@media screen and (min-width: 1224px) {
  .footer-container {
    width: 90%;

    margin: 0 auto;
  }
}
